body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #a9a9a9;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #a9a9a9;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 2rem;
    flex: 1;
}

section {
    margin-bottom: 2rem;
}

h1, h2, h3 {
    color: #000000;
}

h3 {
    border-bottom: 2px solid #FF0000;
    padding-bottom: 0.5rem;
}

p {
    line-height: 1.6;
}

ul {
    list-style-type: disc;
    margin-left: 1.5rem;
}

a {
    color: #1E90FF;
}

.news-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.highlight-item {
    background-color: white;
    border: 2px solid #FF0000;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    text-align: center;
}

.news-item {
    background-color: white;
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.news-item img, .highlight-item img {
    max-width: 80%;
    height: auto;
    margin: 0 auto;
    display: block;
    border-radius: 5px;
}

.news-item h3, .highlight-item h3 {
    color: #FF0000;
}

.news-item p, .highlight-item p {
    margin: 1rem 0;
}

footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
    position: relative;
    bottom: 0;
}

.todo {
    margin: 1em;
    padding: 1em;
    border-radius: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
